<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Simple datetime</title>
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../dist/bundle.js"></script>
	<div id="dateime">
		<date v-model="date"></date>
		{{date}}
	</div>

	<script>
		new Vue({
			el: "#dateime",
			data: {
				date: ""
			}
		});
	</script>
</body>

</html>