<template>
  <div class="datetimepicker" @click.stop="show = true">
    <input type="text" v-model="date" readonly />
    <div class="calendar" v-show="show">
      <div class="button" @click="add_month(-1)">&lt;</div>
      <div class="head">
        <a class="button">{{ year }}</a>
        <a class="button">{{ get_i18n["month"][month - 1] }}</a>
      </div>
      <div class="button" @click="add_month(1)">&gt;</div>
      <div class="calendar_body">
        <year :max="max" :min="min" @input="change_year"></year>
        <div class="months"></div>
        <div class="days"></div>
        <div class="time"></div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.datetimepicker {
  position: relative;
  .button {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: #cccccc;
    }
  }
  .calendar {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    border: 1px solid #ccc;
    width: 10em;
    position: absolute;
    top: 100%;
    border-radius: 1em;
    padding: 0.15em 0.2em;
    overflow: hidden;

    .head {
      display: inline-block;
      width: calc(100% - 3.1em);
      .button {
        width: calc(100% / 2.2);
      }
    }
  }
}
</style>
<script>
import moment from "moment";
import year from "./year.vue";
/**
 * @description 日期選擇組件
 * @param type time|datetime|date|month|year 表單的name
 * @param name 表單的name
 * @param min 最小可選的日期
 * @param max 最大可選的日期
 * @param placeholder 預設文字
 * @param showdelete 是否顯示清空欄位按鈕(只要傳任意值即可)
 * @param size 輸入框尺寸可以接受 sm:小 md:中 lg:大
 */

export default {
  props: {
    type: "date",
    value: null,
    min: null,
    max: null,
    placeholder: "",
    name: "",
    showclear: null,
    readonly: true,
    format: "YYYY/MM/DD",
    i18n: {}
  },
  data() {
    return {
      moment: moment(),
      date: this.value,
      show: false,
      year: "",
      month: "",
      show_panel: this.type == "date" ? "" : ""
    };
  },
  mounted() {
    this.year = this.moment.format("YYYY");
    this.month = this.moment.format("M");
  },
  watch: {
    show() {
      console.log("a");
      if (this.show) {
        document.addEventListener("click", this.hidden_calendar, false);
      } else {
        document.removeEventListener("click", this.hidden_calendar, false);
      }
    },
    date() {
      this.$emit("input", this.date);
    }
  },
  computed: {
    get_i18n() {
      let output = {};
      if (this.i18n && this.i18n.month) {
        output.month = this.i18n.month;
      } else {
        output.month = [
          "一月",
          "二月",
          "三月",
          "四月",
          "五月",
          "六月",
          "七月",
          "八月",
          "九月",
          "十月",
          "十一月",
          "十二月"
        ];
      }
      if (this.i18n && this.i18n.week) {
        output.week = this.i18n.week;
      } else {
        output.week = ["日", "一", "二", "三", "四", "五", "六"];
      }
      return output;
    }
  },
  methods: {
    hidden_calendar() {
      this.show = false;
    },
    add_month(num) {
      this.moment.add(num, "M");
      this.year = this.moment.format("YYYY");
      this.month = this.moment.format("M");
    }
  }
};
</script>
