<template>
  <div>
    <a class="button" v-for="(y,yk) in get_year_list" :key="'y_'+yk">{{y}}</a>
  </div>
</template>
<script>
export default {
  props: {
    max: "",
    min: ""
  },
  computed: {
    get_year_list() {
      let output = [],
        now = moment();
      if (this.min == "") {
        now.subtract(3, "years");
      } else {
        now = moment(this.min);
      }
      for (let i = 1; i < 6; i++) {
        if (this.max == "" || now.isSame(this.max, "year")) {
          output.push(now.format("YYYY"));
        }
        now.add(i, "years");
      }
    }
  }
};
</script>